<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shtainyky.com.mathhandbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".list_tasks_algebra.quadratic_equation.QuadraticEquation" />
        <activity android:name=".list_task_geometry.PythagoreanTheorem" />
        <activity android:name=".list_task_math.Calculator" />
        <activity android:name=".list_task_math.AddingDecimals" />
        <activity android:name=".list_task_math.SubtractingDecimals" />
        <activity android:name=".list_task_math.MultiplyingDecimals" />
        <activity android:name=".list_task_math.DividingDecimals" />
        <activity android:name=".list_task_math.ConvertingFractions" />
        <activity android:name=".list_task_math.ReducingFractions" />
        <activity android:name=".list_task_math.ComparingFractions"></activity>
    </application>

</manifest>